.service-item {
    flex-direction: column;
    width: 387px;
    height: 324px;
    padding: 49px 47px;
    background-color: #EBEBEB;
    border-radius: 20%;
}

.service-item-title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.service-item-desc {
    font-size: 16px;
    line-height: 1.4;
    color: #595566;
}

.service-item:hover {
    background-color: #181818;
    color: #FFFFFF;
}