.contact-main {
    padding-top: 168px;
    padding-bottom: 108px;
    padding-left: 360px;
    background: url("/public/images/contact-main-bg.png") no-repeat;
}

.contact-main-info {
    width: 587px;
    padding: 48px 60px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 29px;
}

.contact-main-title {
    margin-top: 21px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: var(--primary-03);
}

.contact-talk {
    margin-top: 81.46px;
    margin-left: 265px;
    margin-right: 363px;
    gap: 82px;
}

.contact-talk-title {
    margin-top: 11px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-03);
}

.contact-talk-desc {
    max-width: 481px;
    margin-top: 13px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.contact-talk-content {
    margin-top: 36px;
    flex-direction: column;
    gap: 19px;
}

.contact-talk-item {
    gap: 20px;
}

.contact-talk-item .talk-item-title {
    font-size: 16px;
    color: var(--primary-06);
}

.contact-talk-item .talk-item-desc {
    margin-top: 5px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-03);
}

.contact-newsletter {
    max-width: 1200px;
    margin: 150px auto;
    margin-bottom: 0;
    padding-top: 87px;
    padding-bottom: 88px;
    padding-left: 87px;
    padding-right: 85px;
    background: url("/public/images/contact-newsletter-bg.png") no-repeat;
    color: var(--secondary-02);
}

.contact-newsletter-title {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.contact-newsletter-desc {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.4;
}

.contact-newsletter-fm input {
    width: 311px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 33px;
    background-color: var(--secondary-02);
    border: 1px solid #E3E3E3;
    border-radius: 54px;
    outline: none;
    font-size: 16px;
    color: #A9A9A9;
}

.contact-newsletter-fm input::placeholder {
    color: #A9A9A9;
}

.contact-newsletter-fm button {
    width: 168px;
    margin-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-01);
    border: 1px solid var(--primary-01);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-03);
}