.home-main {
    padding-top: 194.47px;
    padding-bottom: 193.52px;
    padding-left: 197px;
    background: url("/public/images/home-main-bg.png") no-repeat;
}

.home-main-about {
    width: 551.15px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 58px;
    padding-right: 58.15px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 29px;
}

.home-main-title {
    font-family: "Cabin", sans-serif;
    font-size: 50px;
    line-height: 1.2;
    color: var(--primary-03);
}

.home-main-desc {
    margin-top: 19px;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-06);
}

.home-main-actions {
    margin-top: 18px;
    gap: 13px;
}

.home-main-services {
    display: block;
    width: 167px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-03);
    border: 1px solid var(--primary-03);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-02);
}

.home-main-book {
    display: block;
    width: 201.54px;
    height: 59.54px;
    padding-left: 52.54px;
    background: var(--secondary-02) url('/public/images/book.svg') no-repeat;
    border: 1px solid var(--secondary-02);
    background-position: 10px center;
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-05);
}

.home-clients {
    margin-top: 15px;
    margin-left: 78px;
    margin-top: 37px;
}

.home-about {
    width: fit-content;
    margin: 148px auto;
    margin-bottom: 0;
    gap: 65px;
}

.home-about-title {
    margin-top: 22px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: var(--primary-03);
}

.home-about-subtitle {
    margin-top: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: var(--primary-03);
}

.home-about-desc {
    margin-top: 11px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.home-about-counter {
    margin-top: 55px;
    padding-top: 17.02px;
    padding-bottom: 19.11px;
    border-top: 1px solid var(--secondary-03);
    border-bottom: 1px solid var(--secondary-03);
    gap: 19.64px;
}

.home-about-counter .counter-item {
    width: 170.21px;
    padding-top: 16px;
    padding-bottom: 16.01px;
    background-color: var(--secondary-04);
    border-radius: 15px;
}

.home-about-counter .counter-item-num {
    width: fit-content;
    margin: 0 auto;
    padding-left: 32px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-03);
}

.home-about-counter .counter-item:nth-child(1) .counter-item-num {
    background: url("/public/images/star.svg") no-repeat;
    background-position: 0;
}

.home-about-counter .counter-item:nth-child(2) .counter-item-num {
    background: url("/public/images/happy.svg") no-repeat;
    background-position: 0;
}

.home-about-counter .counter-item-desc {
    margin-top: 3px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--primary-03);
}

.home-about-counter .counter-divider {
    width: 90.28px;
    height: 0px;
    border: 1px solid var(--secondary-03);
    transform: rotate(90deg);
}

.home-about-experience {
    padding-left: 80.64px;
    padding-bottom: 46.33px;
    background: url("/public/images/happy-about-bg.png") no-repeat;
    background-position-y: 136.37px;
    position: relative;
}

.home-about-market {
    width: 241.17px;
    padding-top: 22.22px;
    padding-bottom: 20.33px;
    padding-left: 22.53px;
    padding-right: 28.14px;
    gap: 10.29px;
    background-color: var(--secondary-02);
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 41.58px;
    bottom: 46.33px;
}

.home-about-market .about-market-num {
    width: 163.21px;
    padding-top: 30.5px;
    padding-bottom: 33.71px;
    background: url("/public/images/ellipse.svg") no-repeat;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: var(--primary-03);
}

.home-about-market .about-market-desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-03);
}

.home-services {
    margin-top: 174px;
    padding-top: 170px;
    padding-bottom: 170px;
    background-color: var(--secondary-01);
}

.home-services .above-text {
    margin: 0 auto;
}

.home-services-title {
    margin-top: 8px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-03);
}

.home-services-box {
    width: 1201px;
    margin: 38px auto;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 20px;
}

.home-process {
    width: fit-content;
    margin: 150px auto;
    gap: 117px;
}

.home-process-title {
    margin-top: 16px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 45px;
    color: var(--primary-03);
}

.home-process-desc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.home-process-box {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.home-process-item {
    padding-top: 28px;
    border-top: 1px solid #C1C1C1;
    gap: 16px;
}

.home-process-item .process-item-num {
    width: 52.33px;
    height: 52.33px;
    border-radius: 100px;
    padding-top: 11.43px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.home-process-item:nth-child(1) .process-item-num {
    background-color: var(--primary-01);
    color: var(--primary-03);
}

.home-process-item:nth-child(2) .process-item-num {
    background-color: var(--primary-02);
    color: var(--secondary-02);
}

.home-process-item:nth-child(3) .process-item-num {
    background-color: var(--primary-03);
    color: var(--secondary-02);
}

.home-process-item .process-item-title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-03);
}

.home-process-item .process-item-desc {
    width: 331.61px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.home-process-clients {
    max-width: 573.72px;
    margin-top: 17px;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 16px;
}

.home-process-clients .process-clients-item {
    flex-direction: column;
    width: 279.86px;
    height: 221.78px;
    padding: 33px 23px;
    background-color: #EAEAEA;
    border-radius: 20px;
}

.home-process-clients .process-clients-item .clients-item-title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-03);
}

.home-process-clients .process-clients-item .clients-item-desc {
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.home-gallery {
    padding-top: 202.57px;
    padding-left: 360.32px;
    padding-right: 243.85px;
    background: url("/public/images/home-gallery-bg.png") no-repeat;
}

.home-gallery-caption {
    margin-top: 8px;
    align-items: flex-end;
}

.home-gallery-title {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: var(--secondary-02);
}

.home-gallery-more {
    display: block;
    width: 168px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 61px;
    background-color: var(--primary-01);
    border: 1px solid var(--primary-01);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-03);
}

.home-gallery-box {
    max-width: 1202px;
    margin-top: 45px;
    padding: 25px;
    background-color: #FAFAFA;
    border-radius: 30px;
    flex-wrap: wrap;
    gap: 25px;
}

.home-gallery-category {
    width: 366.08px;
    height: 344.05px;
    padding-top: 23px;
    padding-bottom: 23.56px;
    padding-left: 25.24px;
    padding-right: 30.48px;
    background: url("/public/images/gallery/category.png") no-repeat;
    flex-direction: column;
}

.home-gallery-category .category-plus {
    width: 54.12px;
    height: 54.12px;
    background: linear-gradient(153.8deg, #FFE9B1 -8.69%, #DDA003 120.59%);
    border-radius: 100px;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    font-size: 41px;
    text-align: center;
    color: var(--primary-03);
    align-self: flex-end;
}

.home-gallery-category .category-title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: var(--secondary-02);
}

.home-gallery-category .category-subtitle {
    margin-top: 4px;
    font-size: 16px;
    color: var(--primary-01);
}

.home-counter {
    width: fit-content;
    margin: 54px auto;
    margin-bottom: 0;
    gap: 135px;
}

.home-counter-num {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: var(--primary-03);
}

.home-counter-desc {
    margin-top: 12px;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-03);
}

.home-testimonial {
    margin-top: 146.56px;
}

.home-testimonial .above-text {
    margin: 0 auto;
}

.home-testimonial-quote {
    max-width: 628.39px;
    margin: 23px auto;
    margin-bottom: 0;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #CECECE;
}

.home-testimonial-quote span {
    color: var(--primary-03);
}

.home-testimonial-box {
    width: fit-content;
    margin: 33.35px auto;
    margin-bottom: 0;
    gap: 97px;
}

.home-testimonial-btn {
    display: block;
    width: 125px;
    height: 60px;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border: 1px solid #F3F3F3;
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-05);
}

.home-testimonial-btn:nth-child(1) {
    padding-left: 32px;
    background-image: url("/public/images/prev.svg");
    background-position: 8.73px center;
}

.home-testimonial-btn:nth-child(3) {
    padding-left: 22.87px;
    background-image: url("/public/images/next.svg");
    background-position: 72.93px center;
    text-align: left;
}

.home-testimonial-author {
    margin-top: 27px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--primary-03);
}

.home-testimonial-pos {
    margin-top: 7px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--primary-02);
}

.home-book {
    max-width: 1200.02px;
    margin: 93.35px auto;
    margin-bottom: 0;
    padding-left: 90px;
    padding-right: 90.54px;
    background-color: var(--primary-03);
    gap: 73px;
}

.home-book-title {
    width: 427.41px;
    margin-top: 8px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: var(--secondary-02);
}

.home-book-title span {
    color: #727272;
}

.home-book-desc {
    width: 423.04px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--secondary-02);
}

.home-book-call {
    display: block;
    width: 193.61px;
    height: 61px;
    margin-top: 21px;
    padding-left: 48.61px;
    background: var(--primary-01) url("/public/images/phone.svg") no-repeat;
    background-position: 10px center;
    border: 1px solid var(--primary-01);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: var(--primary-03);
}

.home-blog {
    margin-top: 169.75px;
    padding: 178px 359px;
    background-color: var(--secondary-01);
}

.home-blog-title {
    margin-top: 6px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 45px;
    color: var(--primary-03);
}

.home-blog-more {
    display: block;
    width: 167px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-01);
    border-radius: 42px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--primary-03);
}

.home-blog-content {
    margin-top: 46px;
}

.home-contact {
    width: fit-content;
    margin: 151px auto;
    margin-bottom: 99.06px;
    gap: 91px;
}

.home-contact-title {
    margin-top: 7px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    color: var(--primary-03);
}

.home-contact-desc {
    margin-top: 13px;
    max-width: 407px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.home-contact-content {
    margin-top: 38px;
    flex-direction: column;
    gap: 56px;
}

.home-contact-item {
    gap: 16px;
}

.home-contact-item .contact-item-title {
    font-size: 16px;
    color: var(--primary-06);
}


.home-contact-item .contact-item-desc {
    margin-top: 3.21px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-03);
}

.home-contact-fm {
    flex-direction: column;
    gap: 28px;
}

.home-contact-fm .input-bl {
    gap: 24px;
}

.home-contact-fm label {
    display: block;
    font-size: 16px;
    color: var(--primary-03);
}

.home-contact-fm input, .home-contact-fm textarea {
    display: block;
    margin-top: 8px;
    padding-top: 22px;
    padding-left: 33px;
    border: 1px solid #C1C1C1;
    outline: none;
    font-size: 16px;
    color: #A9A9A9;
}

.home-contact-fm input {    
    padding-bottom: 22px;
    border-radius: 54px;
}

.home-contact-fm input::placeholder,
.home-contact-fm textarea::placeholder {
    color: #A9A9A9;
}

.home-contact-fm .input-bl input:nth-child(1) {
    width: 318px;
}

.home-contact-fm .input-bl input:nth-child(2) {
    width: 324px;
}

.home-contact-fm textarea {
    width: 665px;
    height: 157px;
    border-radius: 22px;
}

.home-contact-fm button {
    display: block;
    width: 168px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-03);
    border: 1px solid var(--primary-03);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-02);
} 