.team-main {
    padding-top: 143.46px;
    padding-bottom: 144.54px;
    padding-left: 322px;
    background: url('/public/images/team-main-bg.png') no-repeat;
}

.team-main-info {
    width: 444px;
    padding: 47px 60px;
    background-color: var(--secondary-02);
    border-radius: 29px;
}

.team-main-title {
    margin-top: 21px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: var(--primary-03);
}

.team-meet {
    max-width: 1200px;
    margin: 140.46px auto;
    margin-bottom: 0;
}

.team-meet-title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: var(--primary-03);
}

.team-meet-desc {
    width: 630px;
    margin-top: 13px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-06);
}

.team-meet-join {
    display: block;
    align-self: flex-end;
    width: 168px;
    height: 59px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-03);
    border: 1px solid var(--primary-03);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-02);
}

.team-meet-box {
    margin-top: 43px;
    flex-wrap: wrap;
    column-gap: 51px;
    row-gap: 50px;
}

.team-contact {
    max-width: 1200px;
    margin: 149.8px auto;
    margin-bottom: 150.07px;
    padding-top: 82.51px;
    padding-bottom: 76.28px;
    padding-left: 102px;
    background: url('/public/images/team-contact-bg.png') no-repeat;
    border-radius: 21px;
    color: var(--secondary-02);
}

.team-contact-title {
    margin-top: 12px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.team-contact-desc {
    margin-top: 5px;
    max-width: 478px;
    font-size: 16px;
    line-height: 1.4;
}

.team-contact-fm {
    margin-top: 12px;
}

.team-contact-fm input {
    width: 304px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
    background-color: var(--secondary-02);
    border: 1px solid #C1C1C1;
    border-radius: 54px;
    outline: none;
    font-size: 16px;
    color: #A9A9A9;
}

.team-contact-fm input::placeholder {
    color: #A9A9A9;
}

.team-contact-fm button {
    width: 168px;
    margin-left: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-02);
    border: 1px solid var(--primary-02);
    border-radius: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-02);
}